{% extends "base.html" %}

{% block content %}
  <div>
    <div class="col-lg-8 requirements">
      <h3>
        Requirements
      </h3>
      <div class="well well-small">
        <form role="form" class="form-horizontal" method="post" id="requirements-form" action="/process">

          {# Job #}
          <div class="form-group">
            <label class="col-md-4 control-label" for="job">Job</label>
            <div class="col-md-8">
              <select class="form-control" id="job" name="job" title="" type="text">
                <option value=""></option>
                <option value="Accounting">Accounting</option>
                <option value="Banking">Banking</option>
                <option value="Design">Design</option>
                <option value="Education">Education</option>
                <option value="Engineering">Engineering</option>
                <option value="IT">IT</option>
                <option value="Insurance">Insurance</option>
                <option value="Management">Management</option>
              </select>
            </div>
          </div>

          {# education #}
          <div class="form-group">
            <label class="col-md-4 control-label" for="education">Education</label>
            <div class="col-md-8">
              <select class="form-control" id="education" name="education" placeholder="Education" required="required" title="" type="text">
                <option value="Bachelor">Bachelor</option>
                <option value="Master">Master</option>
                <option value="Doctoral">Doctoral</option>
              </select>
              <input class="form-control" id="education_weight" maxlength="30" name="education_weight" placeholder="Education weight" title="" type="number"/>
            </div>
          </div>

          {# Skill - must #}
          <div class="form-group">
            <label class="col-md-4 control-label" for="skill_must">Skill (Must have)</label>
            <div class="col-md-8">
              <input class="form-control" id="skill_must" maxlength="30" name="skill_must" placeholder="Skill (must have)" required="required" title="" type="text"/>
              <input class="form-control" id="skill_must_weight" maxlength="30" name="skill_must_weight" placeholder="Skill (must have) weight" title="" type="number"/>
            </div>
          </div>

          {# Skill - good #}
          <div class="form-group">
            <label class="col-md-4 control-label" for="skill_good">Skill (Good to have)</label>
            <div class="col-md-8">
              <input class="form-control" id="skill_good" maxlength="30" name="skill_good" placeholder="Skill (good to have)" title="" type="text"/>
              <input class="form-control" id="skill_good_weight" maxlength="30" name="skill_good_weight" placeholder="Skill (good to have) weight" title="" type="number"/>
            </div>
          </div>

          {# Language - must know #}
          <div class="form-group">
            <label class="col-md-4 control-label" for="language_must">Language (Must know)</label>
            <div class="col-md-8">
              <input class="form-control" id="language_must" maxlength="30" name="language_must" placeholder="Language (must know)" required="required" title="" type="text"/>
              <input class="form-control" id="language_must_weight" maxlength="30" name="language_must_weight" placeholder="Language (must have) weight" title="" type="number"/>
            </div>
          </div>

          {# Language - good to know #}
          <div class="form-group">
            <label class="col-md-4 control-label" for="language_good">Language (Good to know)</label>
            <div class="col-md-8">
              <input class="form-control" id="language_good" maxlength="30" name="language_good" placeholder="Language (good to know)" title="" type="text"/>
              <input class="form-control" id="language_good_weight" maxlength="30" name="language_good_weight" placeholder="Language (good to have) weight" title="" type="number"/>
            </div>
          </div>

          {# Experience - must #}
          <div class="form-group">
            <label class="col-md-4 control-label" for="experience_must">Experience (Must have)</label>
            <div class="col-md-8">
              <input class="form-control" id="experience_must" maxlength="30" name="experience_must" placeholder="Experience (must have)" required="required" title="" type="text"/>
              <input class="form-control" id="experience_must_weight" maxlength="30" name="experience_must_weight" placeholder="Experience (must have) weight" title="" type="number"/>
            </div>
          </div>

          {# Experience - good #}
          <div class="form-group">
            <label class="col-md-4 control-label" for="experience_good">Experience (Good to have)</label>
            <div class="col-md-8">
              <input class="form-control" id="experience_good" maxlength="30" name="experience_good" placeholder="Experience (good to have)" title="" type="text"/>
              <input class="form-control" id="experience_good_weight" maxlength="30" name="experience_good_weight" placeholder="Experience (good to have) weight" title="" type="number"/>
            </div>
          </div>

          {# Other #}
          <div class="form-group">
            <label class="col-md-4 control-label" for="other">Other</label>
            <div class="col-md-8">
              <input class="form-control" id="other" maxlength="30" name="other" placeholder="Other" title="" type="text"/>
              <input class="form-control" id="other_weight" maxlength="30" name="other_weight" placeholder="Other weight" title="" type="number"/>
            </div>
          </div>

          {# Submit #}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
